.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
assets/**
!assets/logo.png
l10n/bundle.l10n.qps-ploc.json
l10n/bundle.l10n.json
package.nls.qps-ploc.json